
.categoryPage-header{
    color:crimson;
    margin: 20px 20px 0px 20px;
    font-family: Oleo Script Swash Caps;
}

.category-poster{
    height: 40vh;
    margin-top: 25px;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}